@import (once) "grid";

@screen-extra-large:  elg; @screen-extra-large-threshold: 1500px;

@screen-large:  lg; @screen-large-threshold: 950px;
@screen-medium: md; @screen-medium-threshold: 600px;
@screen-small:  sm; @screen-small-threshold: 480px;

// Visual Controls
@media (max-width: (@screen-extra-large-threshold - 1)) {
  #post-office {
    backdrop-filter: none !important; padding: 0 !important;
    #post-office-box {
      width: 100% !important; left: 0 !important; margin-left: 0 !important; top: 0 !important;
      bottom: 0 !important; border-radius: 0 !important;
    }
  }
}
@media (min-width: @screen-large-threshold) {
  .hide-desktop {display: none !important;};
}
@media (max-width: (@screen-large-threshold - 1)) {
  .hide-mobile {display: none !important;};
  body {background: black;}
  #wrapper, div.game-menu-area, footer { width: 100%; }

  div.town-header {
    &:before { display: none; }
    &.hardcore {
      &:before { display: none; }
    }
    position: relative; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 2px solid rgba(0,0,0,0.25);
    &>b { display: block; position: relative; left: 0; top: 0; width: 100%; color: @myhordes-smalltext }
    &>span { position: relative; display: block; left: 0; top: 0; width: 100%; color: black; }
  }

  #gazette {
    perspective: 1000px;
    width: 95%;
    height: 0;
    padding-bottom: 75%;

    .newspage {
      width: 90%; height: 0; margin: 0; display: block; vertical-align: top; position: absolute; padding-bottom: 75%;
      background-size: cover; transform-style: preserve-3d; transition: all 1.0s linear; backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      left: 5%; z-index: 0;

      &#newspage-front {
        margin-left: 0;
        div#gazette-content { font-size: 2.5vw; }
        div#gazette-headline { font-size: 3.2vw; top: 13%; }
        div#gazette-signature { font-size: 2.5vw; }
        div#gazette-deaths { font-size: 3vw; }
      }
      &#newspage-back {
        width: 90%; margin-left: 0; transform: rotateY(-180deg); z-index: 1;
        .nightstat { font-size: 3vw; }
        #buildingdetails { top: 140px; }
      }
    }
  }
  #gazette-switcher { display: block; margin: auto; padding: 1rem; }
  #gazette-switch:checked + #gazette {
    .newspage {
      transform: rotateY(-180deg);
      &#newspage-back { transform: rotateY(-360deg); }
    }
  }
}
@media (max-width: (@screen-large-threshold - 1)) and (min-width: @screen-small-threshold) {
  .row > .cell.town-addons {
    flex-wrap: wrap;
    & > .town-addon {
      flex-basis: 30%;
      width: 30%;
      height: auto;

      & > div {
        height: 0;
        width: 100%;
        padding-bottom: 100%;
      }
    }
  }
  .row > .cell.town-addons > .town-addon.town-addon-empty > div {
    display: none;
  }
}
@media (max-width: (@screen-large-threshold - 1)) and (min-width: @screen-medium-threshold) {
  .hide-@{screen-large} {display: none !important;};
  .dashboard .def-estimation { border-right: none; }
  .soul .language-picker {
    flex-wrap: wrap;
    &>.note {
      width: 50%;
      flex-basis: 50%;
    }
  }
}
@media (max-width: (@screen-medium-threshold - 1)) and (min-width: @screen-small-threshold) {
  .hide-@{screen-medium} {display: none !important;};
  .dashboard .attack-estimation, .dashboard .def-estimation { border-right: none; }
  .soul .language-picker {
    flex-wrap: wrap;
    &>.note {
      width: 100%;
      flex-basis: 100%;
    }
  }
}
@media (max-width: (@screen-small-threshold - 1)) {
  .hide-@{screen-small} {display: none !important;};
  #notifications { width: 100%; left: 0; margin-left: 0; }
  button, .button { padding-top: 16px; padding-bottom: 16px; margin-top: 8px; margin-bottom: 8px; }
  ul.actions>li {
    padding-top: 16px; padding-bottom: 16px; &>img:first-child { top: 19px; }
    &>div.targets {
      &>ul>li { padding: 16px; }
      & *[x-close-for] { display: inline-block; padding: 16px; }
    }
  }
  .row > .cell.town-addons {
    flex-wrap: nowrap;
    & > .town-addon {
      flex-basis: 13%; width: 13%; height: auto; flex-shrink: 1;
      & > div { height: 0; width: 100%; padding-bottom: 100%; }
    }
  }
  .row > .cell.town-addons > .town-addon.town-addon-empty > div {
    height: 0;
    width: calc(100% - 4px);
    padding-bottom: 100%;
  }
  .dashboard .attack-estimation, .dashboard .def-estimation { border-right: none; }

  .soul .language-picker {
    flex-wrap: wrap;
    &>.note {
      width: 100%;
      flex-basis: 100%;
    }
  }

  #post-office-mobile-wrapper {
    &:not(.panel-2) {
      margin-left: 0;
      &>*:first-child { opacity: 1; }
      &>*:last-child  { opacity: 0; }
    }
    &.panel-2 {
      margin-left: -100%;
      &>*:first-child { opacity: 0; }
      &>*:last-child  { opacity: 1; }
    }
    &>*:first-child, &>*:last-child  { transition: opacity 0.20s ease-in-out }
    width: 200%; transition: margin-left 0.25s ease-in-out;
  }

  div[x-conditional-help="beyond_half_ap"] {
    position: fixed; top: 50px; left: 10px; right: 10px; width: auto;
    &:before {display: none}
  }
}

.postfix(@threshold, @postfix) {
  @media (max-width: (@threshold - 1)) {
    .row {
      >.cell{.grid(@myhordes-grid-columns,@postfix)}
      >.cell-small{.grid(@myhordes-grid-columns*2,@postfix)}
    }
    .row-flex {
      &>.cell, &>.cell-small { .flex-sizing(@myhordes-flex-size-max, @postfix); }
      >.cell {.flex-grid(@myhordes-flex-columns,@postfix)}
      >.cell-small {.flex-grid(@myhordes-flex-columns * 2,@postfix)}

      &.h-center-@{postfix} { justify-content: center; }
      &.left-@{postfix}     { justify-content: flex-start; }
      &.right-@{postfix}    { justify-content: flex-end; }
      &.v-center-@{postfix} { align-items: center; }
      &.top-@{postfix}      { align-items: flex-start; }
      &.bottom-@{postfix}   { align-items: flex-end; }
      &.stretch-@{postfix}  { align-items: stretch; }
    }

    .row, .row-flex {
      &>.cell,.cell-small {
        &.padded-@{postfix}       {padding: @myhordes-grid-padsize;}
        &.padded-small-@{postfix} {padding: @myhordes-grid-padsize-small;}
        &.padded-none-@{postfix}  {padding: 0}
      }
    }
  }
}

.postfix(@screen-extra-large-threshold, @screen-extra-large);

.postfix(@screen-large-threshold, @screen-large);
.postfix(@screen-medium-threshold, @screen-medium);
.postfix(@screen-small-threshold, @screen-small);